= f.label :name
%br/
= f.text_field :name, autocomplete: "name"
%br/
= f.label :address
%br/
= f.text_field :address
%br/
= f.label :email
%br/
= f.email_field :email, autofocus: true, autocomplete: "email"
%br/
(Default password will be 123456)
%br/
%br/
.actions
= f.submit "Add", class: "btn btn-success"
= link_to "Cancel", :back, {:class=>"btn btn-default"}
