%h3
	%b= @project.name
%h4
	%br/
	(
	= @project.start_date
	= '-'
	- if @project.end_date
		= "#{@project.end_date})"
	- else
		= 'Not yet closed)'
	%br/
	Technology: 
	= @project.technology
= link_to "Add new Task", new_project_task_path, class: 'btn btn-success'
= link_to "Add Developer to Team", new_project_path, class: 'btn btn-success'
%br
