:javascript
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
  var chart_div = document.getElementById('chart_div');
  var new_tasks_count = parseInt(chart_div.dataset.new)
  var in_progress_tasks_count = parseInt(chart_div.dataset.inprogress)
  var done_tasks_count = parseInt(chart_div.dataset.done)
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Slices');
    data.addRows([
      ['New', new_tasks_count],
      ['In progress', in_progress_tasks_count],
      ['Done', done_tasks_count]
    ]);

    // Set chart options
    var options = {'title':'Tasks Status',
                   'width':400,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(chart_div);
    chart.draw(data, options);
  }

%h1 Dashboard
%center
  %h5 Task Chart (won't be displayed unless connected to internet)
  #chart_div{:data => {:new => @new_tasks_count, :inprogress => @in_progress_tasks_count, :done => @done_tasks_count}}
%br
- if current_user.is_admin?
  %table.table.table-blue
    %th Status
    - @developers.each do |developer|
      %th= developer.name
    %tr
      %td NEW
      - @developers.each do |developer|
        %td= developer.new_tasks.pluck(:name)
    %tr
      %td IN PROGRESS
      - @developers.each do |developer|
        %td= developer.in_progress_tasks.pluck(:name)

    %tr
      %td DONE
      - @developers.each do |developer|
        %td= developer.done_tasks.pluck(:name)
- else
  %table.table.table-blue
    %th Status
    - @projects.each do |project|
      %th= project.name
    %tr
      %td NEW
      - @projects.each do |project|
        %td= project.new_tasks.pluck(:name)
    %tr
      %td IN PROGRESS
      - @projects.each do |project|
        %td= project.in_progress_tasks.pluck(:name)

    %tr
      %td DONE
      - @projects.each do |project|
        %td= project.done_tasks.pluck(:name)
