%h3
  %center
    Welcome
    = @current_user.name

%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} My Profile
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.active
          %a{:href => "#"} Add Project
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search Projects", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li
          %h4
            = link_to 'Edit', edit_user_registration_path, method: :get
        %li
          %h4
            = link_to 'Logout', destroy_user_session_path, method: :delete


%h3 
  Search Projects
  = form_for(@current_user, url: users_path, :method => "get", id: "search-form") do
    = text_field_tag :search, params[:search], placeholder: "Search Actor"
    = submit_tag "Search", name: nil